:root {
    --small-input-width: clamp(28px, 8vw, 40px);
    --medium-input-width: clamp(110px, 30vw, 150px);
    --big-input-width: clamp(150px, 40vw, 200px);
    --input-height: clamp(23px, 6vw, 26px);
    --input-margin-left: clamp(2px, 0.7vw, 6px);

}

.custom-small-input {
    margin-left: var(--input-margin-left);
    display: flex;
    align-items: center;
    width: var(--small-input-width);
    border: var(--border);
    border-radius: var(--form-border-radius);
    transition: border-color 0.3s;
    height: var(--input-height);
    text-align: center;
}

.custom-medium-input {
    text-align: center;
    width: var(--medium-input-width);
    border-radius: var(--form-border-radius);
    height: var(--input-height);
}

.custom-big-input {
    text-align: center;
    width: var(--big-input-width);
    border-radius: var(--form-border-radius);
    height: var(--input-height);
}